<html>
<head>
	<title>
		The Unique Game
	</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
	<style type="text/css">
		h3 {
			color: #337ab7;
		}
		label {
			margin-right: 1%;
		}
		.errorlist {
			padding-left: 0%;
			list-style-type: none;
		}
		li {
			color: red;
		}
	</style>
</head>
<body>
	<div style="float: right; margin-right: 30%"><strong><a style="margin-right: 20px" href="/">Home</a><a href="#footer">Share</a></strong></div>
	<div style="width: 70%; margin: auto">
		<h3>THE UNIQUE GAME</h3><br>
		<h4>Hey there! Think you're up for a game?</h4>
		Just type a word that you can think of and see if any one else has typed it here before you<br>
		<br>
		<form action="/" method="post">
			{% csrf_token %}
			{{ form }}
			<input type="submit" class="btn btn-primary" value="Submit" />
		</form>

		{% if count == 0 %}
			<strong style="color: green">Congrats!</strong> You just entered a unique word '{{ word }}' on this platform. Have a cookie. &#127850; <br><br><br>
		{% elif count > 0 %}
			<strong style="color: red">Hard luck!</strong> Your word '{{ word }}' has been entered {{ count }} time(s) before you. <br><br><br>
		{% endif%}

		{% if most_common_qs %}
		<br><b>The most common words till now are:</b><br><br>

		<table class="table">
			<tr>
				<th>Word</th>
				<th>Count</th>
			</tr>
		{% for obj in most_common_qs %}
			<tr>
				<td>{{ obj.word }}</td>
				<td>{{ obj.total }}</td>
			</tr>
		{% endfor %}
		</table>
		{% endif %}

	<br><b>Why play alone? Invite your friends to compete instead</b> &#9917;<br><br>
	<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
	<a class="a2a_button_facebook"></a>
	<a class="a2a_button_twitter"></a>
	<a class="a2a_button_whatsapp"></a>
	<a class="a2a_button_telegram"></a>
	<a class="a2a_button_linkedin"></a>
	</div>
	<br><br>
	<script async src="https://static.addtoany.com/menu/page.js"></script>
	</div>
	<footer id="footer"></footer>
</body>
</html>